.SideBar {
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  border-right: 1px solid rgb(224, 224, 224);
  background-color: rgb(245, 245, 245);
}

.el-menu-item {
  text-align: left !important;
}

.el-menu-item:hover {
   background-color: rgb(236, 236, 236) !important;
}

.el-menu-item.is-active {
  color: rgb(75, 185, 79) !important;
  background-color: rgb(245, 245, 245) !important;
}

#logOut {
  background-color: rgb(245, 245, 245);
  border: none;
  height: 50px;
}

#logOut:hover {
  background-color: rgb(236, 236, 236) !important;
  color: rgb(131, 134, 140) !important;
}

#logOut:focus {
  background-color: rgb(245, 245, 245) !important;
  color: rgb(131, 134, 140) !important;
}
